.About-Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: transparent;

}

.About-Item {
    height: 400px;
    width: 100%;
    position: relative;
}

.About-1 {
    background-color: red;
}

.About-Divider {
    background-color: white;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.AboutImageTitle {
    height: 20%;
}

/* background-color: rgb(219, 219, 219); */