.Header-Container {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100vh;
    position: sticky;
    top: 0;
    justify-content: center;
}

.Header-Item {
    flex: 1;
    display: flex;
    align-items: center; 
}