.Product-Container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Product-Item {
    height: 200px;
    position: relative;
    width: 100%;
}

.Product {
    display: flex;
    height: 100%;
    padding-right: 20px;
}

.Product-Section {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.Product-Section-Divider {
    color: white;
    margin-bottom: 15px;
}

.CoverImageLogo {
    width: 60%;
}

.Product-Text {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 18px;
    padding: 5px;
    text-align: left;
} 

.Product-Link {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 40px 5px 40px;
    text-transform: uppercase;
}