.Product-Container {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.Product-Item {
    height: 200px;
    width: 100%;
    position: relative;
}

.Product {
    display: flex;
    height: 100%;
    padding-right: 20px;
}

.Product-Section {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.CoverImage {
    height: 100%;
    object-fit: cover;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.Product-Section-Divider {
    color: white;
    margin-bottom: 15px;
}

.CoverImageLogo {
    width: 60%;
}

.Product-Title {
    font-size: 30px;
    font-weight: bold;
    color: white; /* Text color */
}

.Product-Text {
    text-align: left;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px;
    border-radius: 5px;
} 

.Product-Link {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 18px;
    text-transform: uppercase;
    padding: 5px 40px 5px 40px;
    border-radius: 15px;
    font-weight: bold;
}